
.user-info-active {
    position: relative;
    width: 23%;
    height: auto;
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #f2894f;
    color: white;
    bottom: 5px;

}

.user-info-active p {
    font-size: 15px;
    font-weight: 700;
}

.user-info-active h1 {
    font-weight: 700;
    justify-content: end;
    display: flex;
}

.admin-users-management {
    padding-top: 25px;
    position: relative;
}

.User-img {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 24px;
}

.search-icon {
    margin-left: -5 5px;
    margin-top: 11px;
    font-size: 22px;
}

.filter-icon {
    background-color: #f2894f;
    border-radius: 5px;
    font-size: 24px;
}

.user-list-icon {
    background-color: #f2894f;
    padding: 5px;
    border-radius: 25px;
    color: #fff;
}

.btn-merchant {
    font-size: 12px;
    background-color: #f2894f;
    color: #fff;
    padding: 12px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.btn-merch-management {
    font-size: 12px;
    padding: 12px 15px;
    background-color: #fff;
    color: #f2894f;
    border-radius: 8px;
    border: 1px solid #f2894f;
}

.btn-merch-management:hover {
    font-size: 12px;
    padding: 12px 15px;
    background-color: #f2894f;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #f2894f;
    transition: 0.6s ease-in-out;
}

.add-btn-merchant {
    width: 8rem;
    font-size: 12px;
    background-color: #f2894f;
    color: #fff;
    padding: 12px 15px;
    border-radius: 25px;
    border: 1px solid #fff;
}

.common_table thead th {
    font-size: 14px !important;
    font-weight: 700 !important;
}

.common_table tbody {
    font-size: 16px !important;

}

.btn-view {
    background-color: #f2894f;
    color: #fff;
}

.common_table tbody tr td {
    vertical-align: middle;
    border-color: #E6E6E6;
    white-space: nowrap;
    font-size: 14px;
    transition: 0.3s all;
    padding: 12px 15px;
    color: #828282;
    font-weight: 400;
}


.common_icon{
    width: 20px;
 height: 20px;   
 line-height: 18px;
 text-align: center;
 border-radius: 50%;
 display: block;
 background-color: #f2894f;
}
.common_icon i{
    font-size: 10px;
    margin-bottom: 0;
}

.common_button{
    font-size: 15px;
    margin-bottom: 0;
}

.user-bio {
    width: 102px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.leading-1{
    font-size: 12px;
}

.red-flag-management{
    display: block;
}
.user-red-flag-management{
    display: none;
}